body { 
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

a { 
    color: black;
    text-transform: capitalize; 
}

a:hover {
    color:#00abff;
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:10px 0 0;
}

#content {
    overflow: auto;
}

#sidebar {
    padding: 10px;
    background:#efefef; 
    height:100%;
}



p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}

input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
input[type=password] {
    background: none;
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
[type=button], button {
    -webkit-appearance: button;
}
button {
    margin: 0;
    font-family: inherit;
    text-transform: none;
}

li {
    display: list-item;
}

/*
Post List
*/
.post_outer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.post {
    background: #fff;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 5px;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 10%);
    border: 1px solid #eee;
}

.post_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}


.post_name {
    font-size: 12px;
    text-decoration: underline;
}
.post_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.read_more {
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 5px;
}

.tag_button {
    border-radius: 20px;
    font-size: 12px;
    padding: 10px 5px;
}

.post_image {
    margin: 0;
    z-index: 1;
    padding: 0;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 10%);

}

/*--------------
Navbar
---------------*/
.navbar{
    background-color: #1e1f21;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: #7857fe;
    padding: 10px 0;
}
.navbar > .container{
    padding: 0 15px;
}

.navbar .navbar-brand{
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;;
    text-transform: capitalize;
}

.navbar .nav-item{
    margin-left: 40px;
}
.navbar .nav-item .nav-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}
.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}
span.fas {
    color: white;
}

/*--------------
Share Button
---------------*/